@charset "utf-8";

.introduce{
margin-left:500px;
}
.introduce>li{
text-align:left!important;
}
.structure_banner_3{
		background-color:#f1f0ef;
		padding-top:70px;
		padding-bottom:43px;
		width:100%;
}
.structure_banner_3,.structure_banner_4{
	padding-left:auto;
}
.structure_banner_4{
	margin-top:40px;
}
.flow_div{
	margin-bottom:10px;
	margin-right:30px;
	border-bottom:1px solid #c8c7c6
}
.font_banner_3{
	font-size:18px;
	color:#4b4b4b;
	background:#f1f0ef
}
.font_banner4_title{
	font-size:18px;
	color:#444444;
	font-weight:bold;
}
.font_banner4_title:hover{
	color: rgb(2, 126, 179);
}
.font_banner4_content{
	font-size:16px;
	color:#505050;
}
.div_banner4_link{
	margin-top:16px;
	
}
.font_banner4_link{
	font-size:12px;
	color:#93afc2;
	height:26px;
	margin-right:3px;
	width: auto;
    padding: 5px;
    background-color: #fff;
	
}
.structure_banner_5{
    text-align: center;
	margin-bottom:34px;

}
.font_page{
	font-size:14px;
	color:#070707;
	border-radius: 31px;
    width: 20px;
    height: 20px;
    display: inline-block;
	cursor:pointer;
}
.font_page:hover{
	font-size:14px;
	color:#ffffff;
	background-color:#9b8f84;
	
}
/*瀑布流层*/
    .waterfall{
        -moz-column-count:3; /* Firefox */
        -webkit-column-count:3; /* Safari 和 Chrome */
        column-count:3;
        -moz-column-gap: 1em;
      -webkit-column-gap: 1em;
      column-gap: 1em;
    }
    /*一个内容层*/
    .item{
      margin: 0 0 1em 0;
      -moz-page-break-inside: avoid;
      -webkit-column-break-inside: avoid;
      break-inside: avoid;
	  border-bottom:1px solid #c8c7c6

    }
    .item img{
        width: 100%;
		height:auto;
		overflow:hidden;
    }
	.banner_4_content{
		padding:22px 15px;
		background-color:#f1f0ef;
	}
	.next_page{
		cursor:pointer;
		line-height:28px;
	}
	.next_page img{
		margin-bottom: 2px;
	}
	.box{
		width: 403px;
		height:auto;
		overflow:hidden;
	}