.body{
	width:1237px;
	margin:auto;
}
.banner_first{
	width:100%;
	height:40px;
	line-height:40px;
	background-color:#f2f2f2;
}
.banner_first_inner{
	color:#000000;
	font-size:14px;
	background-color:inherit;	
}
.banner_first_inner img{
	margin-left:10px;
	margin-right:10px;
}
.goods_detail{
	overflow:hidden;
}
.float_left{
	float:left;
}
.goods_img_div{
	width:
}
#imageMenu ul{
	margin:0px;
}
/* clearfix */
.clearfix:after{ visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
*html .clearfix{ zoom:1;}

.preview{width:350px; height:465px;    margin: 10px 0px 0px 22px}
/* smallImg */
.smallImg{position:relative; height:52px; margin-top:14px; background-color:#ffffff; padding:6px 5px; width:340px; overflow:hidden;float:left;}
.scrollbutton{width:15px; height:50px; overflow:hidden; position:relative; float:left; cursor:pointer; padding:0}
.scrollbutton.smallImgUp , .scrollbutton.smallImgUp.disabled{background:url(../image/d_08.png) no-repeat;background-position:0px 10px;}
.scrollbutton.smallImgDown , .scrollbutton.smallImgDown.disabled{background:url(../image/d_09.png) no-repeat;background-position:-4px 10px;}

#imageMenu {height:50px; max-width:310px; overflow:hidden; margin-left:0; float:left;}
#imageMenu ul{
	padding:0;
	padding-left:5px;
}
#imageMenu li {height:50px; width:60px; overflow:hidden; float:left; text-align:center;}
#imageMenu li img{width:50px; height:50px;cursor:pointer;}
#imageMenu li#onlickImg img, #imageMenu li:hover img{ width:46px; height:46px; border:3px solid #959595;}
/* bigImg */
.bigImg{position:relative; float:left; width:350px; height:350px; overflow:hidden;}
.bigImg #midimg{width:350px; height:350px;}
.bigImg #winSelector{width:235px; height:210px;}
#winSelector{position:absolute; cursor:crosshair; filter:alpha(opacity=15); -moz-opacity:0.15; opacity:0.15; background-color:#000; border:1px solid #fff;}
/* bigView */
#bigView{position:absolute;border: 1px solid #959595; overflow: hidden; z-index:999;}
#bigView img{position:absolute;}
.goods_attributes_div{
	margin-left:30px;
	margin-top:24px

}
.span_blue{
	font-size:14px;
	background-color:#293486;
	display:inline-block;
	color:#ffffff;
	border:1px solid #293486
}
.span_grey{
	color:#000000;
	background-color:#d5b285
}
.normal_goods_title{
	font-size:18px;
	color:#000000;
}
.margin_bottom_10{
	margin-bottom:10px;
}
.margin_bottom_14{
	margin-bottom:14px;
}
.font-gray{
	color:#a7776b
}
.goods_span{
	width:590px;
	height:80px;
	background-color:#f3f3f3;
	overflow:hidden;
}
.goods_span_left,.goods_span_right{
	float:left;
	margin-top:10px;
}
.goods_span_left{
	width:480px;
	margin-left:31px;
}
.goods_span_right{
	border-left:1px solid #e6e4e4;
	height:32px;
	padding-left:11px;
}
.goods_span_right .goods_span_right_title{
	font-size:12px;
}
.goods_span_right .goods_span_right_num{
	font-size:14px;
}
.price_title{
	font-size:14px;
	color:#686868
}
.price{
	color:#a7776b;
	font-size:24px;
}
.goods_span_left_desc{
	color:#020202;
	font-size:16px;
}
.goods_span_left_desc_detail{
	font-size:12px;
}
.goods_express{
	margin:auto;
	margin-top:43px;
	width:524px;
	font-size:12px;
	color:#000000;
	line-height:32px;
	overflow:hidden;
}
.goods_express_info{
	overflow:hidden;
}
.goods_expess_title,.goods_expess_desc{
	float:left;
}
.goods_expess_title{	
	text-align:right;
	width:72px;
}
.goods_expess_desc{
	width:436px;
	margin-left: 15px;
}
.goods_item{
	width:203px;
	height:40px;
	border:1px solid #cccaca;
	line-height:36px;
	margin:0 12px 13px 0;
	background-color:#f7f7f7;
	cursor:pointer;
}
.goods_item img{
	vertical-align:middle;
	width:40px;
	height:40px;
}
.margin_top_16{
	margin-top:16px;
}
.goods_item.active{
	border:1px solid #a7776b
}
.car_btn{
	color:#ffffff;
	border:none;
	width:140px;
	height:44px;
	background-color:#a7776b;
	text-align:center;
}
.car_input{
	text-align:left;
}
.car_input .input input{
	width:32px;
	text-align:center;
	height:42px;
}
.car_input .input,.car_input .btn{
	float:left;
}
.btn .plus,.btn .reduce{
	border:1px solid #cccaca;
	height:22px;
	line-height:22px;
	width:15px;
	text-align:center;
	
}
.btn .plus a,.btn .reduce a{
	color:#575757
}