@charset "utf-8";
body{
	margin:0;
	padding:0;
	min-width:1237px;
	overflow-x:hidden;
}
@font-face
{
font-family: fzybjt;
src:url(../fonts/FZXH1JW.TTF)
}
.body {
	background:#FFF;
	font-size:14px;
	padding:0 0 0 0;
	width:1254px;
	margin:auto;
	border:0px;
	font-family: fzybjt;
	overflow-x:hidden;
}

*{
	font-family:fzybjt
}
.header,.banner3,.banner4_main{
	width:inherit;
	min-width:1237px;
	overflow:hidden;
}
.header{
	height:93px;
	text-align:center;
	font-size:14px;
	margin-top:10px;
}
.header{
	text-shadow:0px 0.1px #000000;
}
.header_title:first-child{
	margin-right:61px;
}
.header_title.four{
	margin-right:60px;
}
.header_title.five{
	margin-right:61px;
}
.header img{
	vertical-align:middle;
	margin-right:90px;
	margin-left:91px;
	height:93px;
}
.title2{
	margin-right:63px;
}
.banner3{
	margin:auto;
	width:1245px;
	overflow:hidden
}
.title_left,.title_right{
width:50%

}
.title_left{
float:left;
}
.title_left a{
float:right;
margin-right:20%;
}
.title_right{
text-align:right;
float:right;
}
.title_right a{
float:left;
margin-left:20%;
}
.header_title{
	color:#969595;
	text-decoration:none;
	font-weight:normal;
    position: relative;
    top: -18px;
}
.banner3{
margin-top:70px;
min-height:386px;
}
.swiper-container.banner1{margin-top:18px;}
.banner1{
	margin-top:18px;
	width:100%;
}
.detail a{
color:#0064a4;
font-size:22px;
text-decoration:none;
}
.swiper-container {
width: 100%;
text-align: center;
margin: 0 auto;
position: relative;
overflow: hidden;
z-index: 5;
}
.swiper-wrapper {
position: relative;
z-index: 10;
}
.swiper-slide {
position: relative;
text-align: center;
float: left;
}
.swiper-slide img {
width: 100%;

vertical-align: middle;
position: relative;
}
.media,.news{
color:#6b6b6b;
float:left;
}
.media{
	margin-left:100px;
	width:590px;
	height:387px;
}
.media video{
	width: 100%;
    height: 100%;
}
.news{
width:500px;
margin-left:43px;
}
.banner4{
background: #e8e8e7;
margin-top: 76px;
height: 537px;
min-height:537px;
}
.banner4_main{
    margin: auto;
    padding-top:67px;
    height: 537px;
    width: 1245px;
}
.banner4_content{
width:inherit;
color:#6b6b6b;
font-size:18px;
margin-top:21px;
}
.banner4_product_list{
color:6b6b6b;
}
.banner4_product_list ul{
float:left;
color:#6b6b6b;
padding-left:0px;
padding-right:20px;
margin-top:28px;
}
.banner4_product_list>ul>li,.banner6_ul li,.footer ul li{
list-style-type:none;  
text-align:center;

font-size:18px;
}
.banner4_product_line{
text-align:left;
width:850px;
font-size:18x;
font-weight:normal;
color:#6f94ad;
margin-top:39px;
}
.banner4_three_bear{
position:relative;
z-index:999;
top:-600px;
left:63.2%;
height:637px
}
.banner4_product_list ul>li>img{
	
width:83px;
height:83px;
}
.banner5{
margin-top:-640px;
}
.banner5_title{
margin:auto;
width: 1237px;
text-align:center;
margin-top: 88px;
height: auto;
}
.banner5_content{
color: #070707;
width:1254px;
margin:auto;
margin-top:20px;
text-align: left;
font-size:18px;
line-height:30px;
}
ul .product_title{
color:#6b6b6b;
}
.banner6{
width:1251px;
margin:auto;
margin-top:69px;
}
.banner6_ul{
float:left;
width:396px;
height:444px;
padding:0px;
margin-right:27px;
}
.banner6_ul:last-child{
	margin-right:0px;
}
.banner6_ul li{
width:inherit;
background:#f1f0ef;
}
.banner6_ul li img{
width:inherit;
height:259px;
}
.banner6_ul .banner6_li_title{
font-size:22px;
color:#5e5246;
padding-top:40px;
padding-bottom:88px;
}
.banner6_li_content{
font-size:15px;
color:#505050;
padding-top:18px;
padding-bottom:44px;
}

.banner6_ul>.banner6_li_content{
font-size:16px;
height:320px;
}
.banner7{
margin-top:84px;

}
.news_title,.banner5_title{
font-size:36px;
color:#7a5a30;
}
.banner8{
height:auto;
margin-top:73px;
}
.banner9{
	background:#f1f0ef;
	height:145px;
}
.banner9_title{
margin-top:30px;
background:url(../image/title_bottom_line.jpg) no-repeat;
background-position:center 58px;
background-size:60px;
line-height:60px;
width:100px;
margin:auto;
font-size:24px;
}

.banner9_title,.banner9_friend_link,.banner9_friend_link *{
text-align:center;
color:#929392;
}
.banner9_friend_link{
margin-top:22px;
margin-bottom:44px;
width: 1254px;
margin-left: auto;
}
.banner9_friend_link a{
margin-right:121px;
text-decoration:none;
font-size:22px;
}

.header0{
background:#9b8f84;
height:118px;
}
.header0 input{
width:302px;
padding-left:12px;
height: 40px;
float:right;
margin-top:40px;
border:none;
}
.header0 .search_btn{
	height: 42px;
    background: #cdcdcd;
    font-size: 16px;
    color: #424141;
    width: 95px;
    line-height: 42px;
	text-align:center;
	cursor:pointer;
	float:right;
	margin-top:40px
}
.footer{
padding-top:50px;
height:218px;
text-align:left;
}

.footer ul li{
font-size:14px;
}
a{
text-decoration:none;
}
.footer .link_list>li{
float:left;
margin-right:42px;
}
.footer li *{
color:#969595
}
.introduce{
float:right;
margin-right:20px;
}
.introduce>li{
float:rigtht;
text-align:left!important;
}

a{
cursor:pointer;
}
.banner3 .news_title{
	margin-top:56px
}
.banner3 .media{
	margin-left:0px
}
.banner3 .news{
	width:612px;
}
.news_content{
	margin-top:28px;
	font-size:18px;
	color:#4b4b4b;
	line-height:24px;
}
.banner4_main_left{
	width:690px;
}
.banner3.new .news_title {
    font-size: 34px;
    color: #1a1a1a;
    width: 652px;
    height: 42px;
    overflow-x: hidden;
}
.banner3.new .news{
	overflow:hidden;
}
.banner3.new .news_content{
	color:#6b6b6b;
}
.banner3.new .news_title{
	margin-top:114px
}
.main{
	width:1245px;
	margin:auto;
}
.footer .main{
	height:18px;
}
.banner3 .news_title{
		font-size:34px;
		color:#1a1a1a;
}
.banner4_main_left .banner4_product_line{
	font-size:18px;
}
.banner6.swiper-container{
	margin-top:30px;
}
.footer .link_list{
	margin-top: 0px;
	margin-bottom:0px;
    height: 14px;
}