@charset "utf-8";
body{
	margin:0;
	padding:0;
	min-width:1237px;
	overflow-x:hidden;
}
.body {
	background:#FFF;
	font-size:14px;
	padding:0 0 0 0;
	width:1237px;
	margin:auto;
	border:0px;
	font-family: 'Microsoft YaHei', 微软雅黑, arial;
	overflow-x:hidden;
}
@font-face
{
font-family: myFirstFont;
src:url(../fonts/FZNBSJW.TTF);
font-family: font-fzybjt;
src:url(../fonts/方正硬笔行书简体.ttf)
}

.header,.banner3,.banner4_main{
	width:inherit;
	min-width:1237px;
	overflow:hidden;
}
.header{
	background:url(../image/1.log.jpg) no-repeat;
	background-position:center;
	line-height:119px;

}
.banner3{
	margin-left:200px;
	overflow:hidden
}
.title_left,.title_right{
width:50%

}
.title_left{
float:left;
}
.title_left a{
float:right;
margin-right:20%;
}
.title_right{
text-align:right;
float:right;
}
.title_right a{
float:left;
margin-left:20%;
}
.header_title{
	color:#969595;
	text-decoration:none;
	font-weight:normal;

}
.banner3{
margin-top:80px;
min-height:386px;
}
.banner1{padding-top:20px;;height:25em}
.detail a{
color:#0064a4;
font-size:22px;
text-decoration:none;
}
.swiper-container {
width: 100%;
text-align: center;
margin: 0 auto;
position: relative;
overflow: hidden;
z-index: 5;
}
.swiper-wrapper {
position: relative;
z-index: 10;
}
.swiper-slide {
position: relative;
text-align: center;
float: left;
}
.swiper-slide img {
width: 100%;
height: auto;
vertical-align: middle;
position: relative;
}
.media,.news{
color:#6b6b6b;
float:left;
}
.news{
width:500px;
margin-left:20px;
}
.banner4{
background: #f1f0ef;
margin-top: 60px;
height: 537px;
min-height:537px;
padding-left:200px;
}
.banner4_main{
margin-left: auto;
padding-top: 50px;
height:537px;
}
.banner4_content{
width:520px;
color:#505050
}
.banner4_product_list{
color:6b6b6b;
}
.banner4_product_list ul{
float:left;
color:#6b6b6b;
padding-left:0px;
padding-right:20px;
}
.banner4_product_list>ul>li,.banner6_ul li,.footer ul li{
list-style-type:none;  
text-align:center;

font-size:18px;
}
.banner4_product_line{

background-position:350px;
height:51px;
text-align:center;
width:850px;
font-size:16px;
font-weight:normal;
color:#6b6b6b;
font-family:font-fzybjt;
line-height:21px;
background:url(../image/title_bottom_line.jpg) no-repeat;
background-position:center 38px;
background-size:60px;
}
.banner4_three_bear{
position:relative;
z-index:999;
top:-600px;;
left:60%;
height:706px
}
.banner4_product_list ul>li>img{
	
width:70px;
}
.banner5{
margin-top:-650px;
}
.banner5_title{
margin:auto;
width: 1237px;
text-align:center;
margin-top: 28px;
height: 100px;
}
.banner5_content{
color: #505050;
width:832px;margin:auto;margin-top:-34px
}
ul .product_title{
color:#6b6b6b;
}
.banner6{
width:1237px;
margin:auto;
}
.banner6_ul{
float:left;
width:360px;
height:444px;
padding:0px;
margin-right:40px;
}
.banner6_ul li{
width:360px;
background:#f1f0ef;
}
.banner6_ul li img{
width:360px;
height:266px;
}
.banner6_li_title{
font-size：16px;
color:#5e5246;
padding-top:22px;
}
.banner6_li_content{
font-size:15px;
color:#505050;
padding-top:18px;
padding-bottom:44px;
font-family:'方正细黑一简体'
}

.banner6_ul>.banner6_li_content{
font-size:16px;
height:320px;
}
.banner7{
height:404px;
background-position:100% 100%;
margin-top:20px;

}
.news_title,.banner5_title{
font-family:font-fzybjt;
font-size:34px;
color:#282828;
}
.banner8{
height:404px;
background-position:100% 100%;
margin-top:70px;
}
.banner9{
	background:#f1f0ef;
	height:187px;
	padding-top:30px;
}
.banner9_title{
margin-top:30px;
background:url(../image/title_bottom_line.jpg) no-repeat;
background-position:center 58px;
background-size:60px;
line-height:60px;
width:100px;
margin:auto;
font-size:24px;
}

.banner9_title,.banner9_friend_link,.banner9_friend_link *{
text-align:center;
color:#929392;
}
.banner9_friend_link{
margin-top:22px;
margin-bottom:44px;
}
.banner9_friend_link a{
margin-right:121px;
text-decoration:none;
font-size:22px;
}

.header0{
background:#9b8f84;
height:110px;
text-align:right;
padding-right:20px;
}
.header0 input,.header0 btn{
position:relative;
width:314px;
top:30px;
left:0%;
height:43px;
line-height:40px;
}
.header0 .search_btn{
	height: 48px;
    background: #cdcdcd;
    font-size: 16px;
    color: #424141;
    font-weight: bold;
    margin-left: -10px;
    width: 95px;
    line-height: 37px;
	text-align:center;
	border:none;
}
.footer{
margin-top:40px;
}

.footer ul li{
font-size:14px;
}
a{
text-decoration:none;
}
.footer .link_list>li{
float:left;
margin-right:25px;
}
.footer li *{
color:#969595
}
.introduce{
float:right;
margin-right:20px;
}
.introduce>li{
float:rigtht;
text-align:left!important;
}

a{
cursor:pointer;
text-decoration: none;
}

.w {
background-color: #f5f5f5;
width: 990px;
margin: 0 auto;
}
.stepflex {
border-top: 5px solid #ccc;
text-align: center;
margin: 30px auto;
display: block;
}
.stepflex:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.mod-comm {
padding: 10px 20px 20px;
}
.mod-main {
padding: 10px;
background-color: #fff;
margin-bottom: 20px;
}
.mod-comm .mt {
padding: 10px 0;
}
.mod-main .mt {
display: inline-block;
display: block;
padding: 10px;
}
.mc, .mt, .sm, .smb, .smc, .smt {
overflow: hidden;
zoom: 1;
}
.mod-main .mt:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.mod-comm .mt h3 {
font-size: 12px;
color: #666;
font-family: '\5b8b\4f53';
line-height: 18px;
}
.mod-main .mt h3 {
float: left;
font-family: "Microsoft YaHei";
font-size: 16px;
color: #333;
line-height: 20px;
}
div.mod-main .mc {
overflow: hidden;
}
.mod-comm .mc {
line-height: 20px;
}
#sflex04 {
width: 640px;
}

.mod-comm .mc {
line-height: 20px;
}

.stepflex dl {
float: left;
position: relative;
width: 160px;
top: -5px;
border-top: 5px solid #ccc;
}
dl {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
.doing .s-num {
background-position: -23px 0;
}
.s-num {
position: relative;
margin: -15px auto 0;
color: #fff;
font-weight: 700;
width: 23px;
height: 23px;
background-image: url(../image/step2013.png);
line-height: 23px;
}
.doing .s-text {
color: #7abd54;
}
dd {
display: block;
-webkit-margin-start: 40px;
}
.doing s {
background-position: -23px -24px;
}
.first s {
background-position: 0 -24px;
background-color: #fff;
}
.stepflex s {
left: 0;
}
.doing b {
background-position: -28px -24px;
background-color: #ccc;
}
.stepflex b {
right: 0;
left:0;
}
.doing b, .doing s, .first s, .last b {
width: 5px;
height: 5px;
position: absolute;
line-height: 0;
font-size: 0;
top: -5px;
background-image: url(../image/step2013.png);
overflow: hidden;
}
strong, b {
font-weight: bold;
}
.doing .s-text {
color: #7abd54;
}
.s-text {
color: #ccc;
font-size:12px;
}
.mod-main .mt {
display: inline-block;
display: block;
padding: 10px;
}
.mt:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.mod-main .mt h3 {
float: left;
font-family: "Microsoft YaHei";
font-size: 16px;
color: #333;
line-height: 20px;
}
.mod-comm .mt h3 {
font-size: 12px;
color: #666;
font-family: '\5b8b\4f53';
line-height: 18px;
}
dl.doing {
border-top-color: #7abd54;
}
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
margin: 0;
padding: 0;
}
.fl {
float: left;
}
.form .item {
display: inline-block;
display: block;
margin-bottom: 20px;
line-height: 30px;
}
.form .item:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.form .item span.label {
float: left;
height: 18px;
line-height: 18px;
padding: 6px 0;
width: 150px;
text-align: right;
}
.clear, .clr {
display: block;
overflow: hidden;
clear: both;
height: 0;
line-height: 0;
font-size: 0;
}
.form .item span.label {
float: left;
height: 18px;
line-height: 18px;
padding: 6px 0;
width: 150px;
text-align: right;
font-size:12px;
color:#666
}
.form label {
float: none;
font-size:12px;color:#666;
}
label {
cursor: default;
}
input, textarea, keygen, select, button, meter, progress {
-webkit-writing-mode: horizontal-tb;
}
input, textarea, keygen, select, button {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}
input, input[type="password"], input[type="search"] {
-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border: 2px inset;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}
input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
padding: 1px 0px;
}

.form .itxt, .form .text {
height: 18px;
width: 127px;
padding: 5px 23px 5px 5px;
}
div.form .itxt, div.form .text {
padding: 8px 23px 8px 5px;
}
.ml10 {
margin-left: 10px;
}
.ftx-05, .ftx05 {
color: #005ea7;
}
.form .area, .form .itxt, .form .sele, .form .selt {
line-height: 18px;
border: 1px solid #ccc;
padding: 5px;
float: none;
font-family: "Microsoft YaHei";
font-size: 12px;
}
.btn-5, .btn-6, .btn-7, .btn-8 {
background-color: #f5fbef;
background-image: -moz-linear-gradient(top,#f5fbef,#eaf6e2);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f5fbef),color-stop(1,#eaf6e2));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5fbef', endColorstr='#eaf6e2', GradientType='0');
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5fbef', endColorstr='#eaf6e2');
background-image: linear-gradient(to bottom,#f5fbef 0,#eaf6e2 100%);
border-radius: 2px;
display: inline-block;
height: 18px;
line-height: 18px;
border: 1px solid #bfd6af;
padding: 2px 14px 3px;
color: #323333;
font-size:12px;
}
.btn-5:link, .btn-5:visited, .btn-6:link, .btn-6:visited, .btn-7:link, .btn-7:visited, .btn-8:link, .btn-8:visited {
color: #323333;
text-decoration: none;
}
.btn-5:link, .btn-5:visited, .btn-6:link, .btn-6:visited, .btn-7:link, .btn-7:visited, .btn-8:link, .btn-8:visited {
color: #323333;
text-decoration: none;
}
.error_mssg {
margin: -15px 0 10px 0;
font-size:12px;
}
.alertLogo {
color: #fff;
background-color: red;
border-radius: 12px;
width: 12px;
display: inline-table;
text-align: center;
margin-right: 10px;
height: 12px;
line-height:12px;
}
.form .item span.label {
float: left;
height: 18px;
line-height: 18px;
padding: 6px 0;
width: 150px;
text-align: right;
}
#username_error{display:none}
#content .form .item span.label {
width: 150px;
font-size: 14px;
color: #999;
font-size: 14px;
color: #999;
padding: 8px 0;
}
.ftx-un {
font-size: 16px;
line-height: 25px;
margin-right: 10px;
color: rgb(102, 102, 102);
}
.ftx05 {
color: #005ea7;
font-size: 12px;
}
a:hover {
color: #C81623;
}
#sendMobileCode{
background-color: rgb(247, 247, 247);
background-image: linear-gradient(rgb(247, 247, 247) 0px, rgb(243, 242, 242) 100%);
border-bottom-color: rgb(221, 221, 221);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-collapse: separate;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(221, 221, 221);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(221, 221, 221);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(221, 221, 221);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
color: rgb(50, 51, 51);
cursor: auto;
display: inline-block;
font-family: tahoma, arial, 'Microsoft YaHei', 'Hiragino Sans GB', u5b8bu4f53, sans-serif;
font-size: 14px;
height: 18px;
line-height: 18px;
margin-bottom: 0px;
margin-left: 10px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0.6em;
padding-left: 1em;
padding-right: 1em;
padding-top: 0.5em;
width: 7.4em;
text-align:center;
zoom: 1;
}
#timeDiv{
color: #999;
font-size:12px;
}
.ftx-01, .ftx01 {
color: #e4393c;
}
 .form .msg-error {
color: #e4393c;
}
body {
font: 12px/150% tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;
-webkit-font-smoothing: antialiased;
color: #666;
background: #fff;
}
#content .form .item span.label {
width: 150px;
font-size: 14px;
color: #999;
padding: 8px 0;
}
dl.done {
    border-top-color: #caecb6;
}
