.banner1{
	height:700px;
	margin-bottom:327px;
	background-color:#323232;
}
.vedio_div{
	width:1237px;
	margin:auto;
}
.vedio_content{
	width:872px;
	height:488px;
	margin:auto;
}
.vedio_content video{
	height:inherit;
}
.vedio_message{
	margin:auto;
	margin-top:21px;
	width:872px;
	color:#ffffff
}
.vedio_message_left,.vedio_message_right{
	float:left;
}
.vedio_message_left{
	font-size:20px;
	width:214px;
	border-right:2px solid #9fa1a0;
	height:93px;
	line-height:21px;
}
.vedio_message_right{
	font-size:16px;
	width: 639px;
	margin-left:17px;
}